[user]
	name = Terry Nightingale
	email = tnight@pobox.com
	signingkey = 53E12F65
[core]
	editor = emacs
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[help]
	autocorrect = 50
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = extMerge \\\"$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"
	trustExitCode = false
[diff]
	external = extDiff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
